In [1]:
import pandas as pd

In [17]:
df = pd.read_clipboard()

In [20]:
df.sort('LOCATION')

,JOB TITLE,LOCATION,DEPARTMENT
0,Engineering Manager,"Cebu City, CV, Philippines",Engineering
1,Java Software Engineer,"Cebu City, CV, Philippines",Engineering
9,Associcate Data Analyst,"Cebu City, CV, Philippines",Product Management
8,Privacy Support Representative,"Cebu City, CV, Philippines",Operations
4,Human Resources Manager,"Cebu City, CV, Philippines",Human Resources
6,Global Privacy Solutions Manager (Night Shift),"Cebu City, CV, Philippines",Operations
5,Marketing Automation and Operations Manager,"San Francisco, CA",Marketing
7,Manager of Global Privacy Solutions,"San Francisco, CA",Operations
3,Systems Engineer / DevOps,"San Francisco, CA",Engineering
2,Senior Software Engineer,"San Francisco, CA",Engineering
10,Senior Mobile App Privacy Analyst / Security R...,"San Francisco, CA",Product Management
11,Account Executive,"San Francisco, CA",Sales
12,Enterprise Account Executive,"San Francisco, CA",Sales
13,Outbound Business Development Rep,"San Francisco, CA",Sales
14,Sales Development Representative,"San Francisco, CA",Sales
15,Sales Training Manager,"San Francisco, CA",Sales

In [14]:
df

In [7]:
df